@model IEnumerable<Guid>

@using (Html.BeginForm("UploadImage", "Movie", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmImageUpload" }))
{
    <label for="upload" class="btn waves-effect waves-light blue-grey">
        Add Pictures
    </label>

    <div class="progress" hidden="hidden" style="display: none;">
        <div class="determinate" style="width: 0%"></div>
    </div>

    <input type="file" onchange="$('#frmImageUpload').submit();" name="files" id="upload" accept="image/*" multiple="multiple"class="customFileInput" hidden="hidden"/>

}

<ul class="imagePrev">
    @foreach (var guid in Model)
    {
        <li>
            <img src="@Url.Action("GetTempImageThumb", "Movie", new { guid = guid })" />
            <button class="waves-effect waves-light btn deleteBtn red lighten-2" onclick="deleteImg(this)" data-link="@Url.Action("DeleteTempImage", "Movie", new { guid = guid })">Delete</button>
        </li>
    }
</ul>
<script>
    $(document).ready(function () {
        bindForm("#frmImageUpload");
    })
</script>

